.top {
  margin-top: 157px;

  height: 150px;
  display: flex;
  align-items: center;

  @include _375 {
    margin-top: 237px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
    font-size: 26px;
    color: #222222;
    text-transform: uppercase;

    @include _375 {
      font-size: 18px;
    }
  }
}
