<article class="product-card cf col-3 col-lg-4">
  <div class="product-card__content">
    <div class="product-card__image">
      <button id="remove" class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/1.png" alt="images phone">

    </div>

    <span class="product-card__title">Huawei mate s</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">280.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove" data-del="delete">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/2.png" alt="images phone">

    </div>

    <span class="product-card__title">Sony xperia Z5</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">550.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/3.png" alt="images phone">

    </div>

    <span class="product-card__title">Xaomi Mi 4i</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">350.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/4.png" alt="images phone">

    </div>

    <span class="product-card__title">Huawei g8 4g</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">350.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/5.png" alt="images phone">

    </div>

    <span class="product-card__title">iPhone Rose Gold</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">280.00</span>
      </div>

      <div class="product-card__oldprice">
        $
        <span class="product-card__num">649.00</span>
      </div>
    </div>

  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/6.png" alt="images phone">

    </div>

    <span class="product-card__title">Huawei g8 4c</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">350.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/7.png" alt="images phone">

    </div>

    <span class="product-card__title">Galaxy Core Prime</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">390.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/8.png" alt="images phone">

    </div>

    <span class="product-card__title">Apple iPhone 6S</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">550.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>







<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/5.png" alt="images phone">

    </div>

    <span class="product-card__title">iPhone Rose Gold</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">280.00</span>
      </div>

      <div class="product-card__oldprice">
        $
        <span class="product-card__num">649.00</span>
      </div>
    </div>

  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/6.png" alt="images phone">

    </div>

    <span class="product-card__title">Huawei g8 4c</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">350.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/7.png" alt="images phone">

    </div>

    <span class="product-card__title">Galaxy Core Prime</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">390.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>

<article class="product-card cf col-3">
  <div class="product-card__content">
    <div class="product-card__image">
      <button class="product-card__button" data-del="delete">Remove from list</button>
      <img class="product-card__img" src="./images/content/products/8.png" alt="images phone">

    </div>

    <span class="product-card__title">Apple iPhone 6S</span>

    <div class="product-card__price">
      <div class="product-card__newprice">
        $
        <span class="product-card__num">550.00</span>
      </div>
    </div>
  </div>

  <div class="product-card__bottom">
    <button class="product-card__btn" data-del="delete">
      <svg class="product-card__icon product-card__icon--remove">
        <use xlink:href="images/sprite.svg#remove"></use>
      </svg>
    </button>

    <button class="product-card__btn">
      <svg class="product-card__icon product-card__icon--cart">
        <use xlink:href="images/sprite.svg#product-cart"></use>
      </svg>
    </button>
  </div>
  <a class="link" href="#"></a>

</article>