<div class="pagination">

  <ul class="pagination__list">

    <!-- <li class="pagination__item">

      <span class="pagination__num pagination__link pagination__link--active">

        0

      </span>

    </li> -->
    <!-- 
    <li class="pagination__item">

      <span class="pagination__num pagination__link">

        2

      </span>

    </li>

    <li class="pagination__item">

      <span class="pagination__num pagination__link">

        3

      </span>

    </li>

    <li class="pagination__item">

      <span class="pagination__num pagination__link">

        4

      </span>

    </li> -->



    <!-- 

    <span class="pagination__end" href="#">

      ...

    </span> -->



  </ul>
  <!-- 
  <a class="pagination__next" href="#">

    Next

  </a> -->

</div>