<article class="store-features__item">
  <div class="store-features__inner">
    <svg class="store-features__icon">
      <use xlink:href="images/sprite.svg#hand"></use>
    </svg>

    <div class="store-features__box">
      <div class="store-features__title">
        Full warrenty
      </div>

      <p class="store-features__text">
        Read About Out Warrenty
      </p>
    </div>
  </div>
</article>

<article class="store-features__item">
  <div class="store-features__inner">
    <svg class="store-features__icon">
      <use xlink:href="images/sprite.svg#truck"></use>
    </svg>

    <div class="store-features__box">
      <div class="store-features__title">
        Express shipping
      </div>

      <p class="store-features__text">
        Local & International Shipping
      </p>
    </div>
  </div>
</article>

<article class="store-features__item">
  <div class="store-features__inner">
    <svg class="store-features__icon">
      <use xlink:href="images/sprite.svg#blog"></use>
    </svg>

    <div class="store-features__box">
      <div class="store-features__title">
        Mobile blog
      </div>

      <p class="store-features__text">
        Discuss Your Favorite Phone
      </p>
    </div>
  </div>
</article>

<article class="store-features__item">
  <div class="store-features__inner">
    <svg class="store-features__icon">
      <use xlink:href="images/sprite.svg#support"></use>
    </svg>

    <div class="store-features__box">
      <div class="store-features__title">
        24/7 Support
      </div>

      <p class="store-features__text">
        Get Full Support Via Chat
      </p>
    </div>
  </div>
</article>

<article class="store-features__item">
  <div class="store-features__inner">
    <svg class="store-features__icon">
      <use xlink:href="images/sprite.svg#hand"></use>
    </svg>

    <div class="store-features__box">
      <div class="store-features__title">
        Full warrenty
      </div>

      <p class="store-features__text">
        Read About Out Warrenty
      </p>
    </div>
  </div>
</article>